// src/app/core/layout/shell/main-shell/main-shell.scss
:host {
  display: block;
  height: 100%;
}

/* Hide the avatar button on mobile */
@media (max-width: 768px) {
  .zso-desktop-only-avatar {
    display: none;
  }
}

.alpha-icon {
  filter: brightness(0) invert(1);
}