/* src/app/features/places/place-edit/place-edit.page.scss */
/* Placeholder styling for edit/create page */

:host {
  display: block;
}

// Reuse Tailwind utility classes in template; extend later if necessary.
