// src/app/shared/ui/zso-input-field/zso-input-field.scss
.mb-4 {
  margin-bottom: 1rem;
}

input:disabled {
  cursor: not-allowed;
}

.toggle-visibility {
  background: none;
  border: none;
  cursor: pointer;
}

.text-red-600 {
  color: var(--input-error);
}