// src/app/shared/ui/zso-input-field/zso-input-field.scss
.mb-4 {
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 0.75rem;
  border: 1px solid var(--input-border);
  border-radius: 0.375rem;
}

input:disabled {
  cursor: not-allowed;
}

.toggle-visibility {
  background: none;
  border: none;
  cursor: pointer;
}

.text-red-600 {
  color: var(--input-error);
}